<div class="container-fluid">

    <div class="row justify-content-center mx-0">
        <div class="col pb-3 mt-5 p-0 ">


            <div class="row h5 h-md-3 text-dark font-weight-bold align-items-center justify-content-center mb-3"
                style="height: 60px; border: 2px solid #343a40; background: white; text-align: center;">
                SOUTH AFRICA INTERNATIONAL CRICKET TEAM</div>


            <!--Batsman-->
            <div class="row bg-dark pl-2 text-light align-items-center h3">BATSMAN</div>

            <div class="row">

                <!--faf-du-plessis-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170639/faf-du-plessis.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="faf-du-plessis">Faf Du
                        Plessis</a>
                </div>

                <!--David Miller-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170687/david-miller.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="david-miller">David
                        Miller</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Aiden Markam-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170645/aiden-markram.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="aiden-markram">Aiden
                        Markam</a>
                </div>

                <!--van-der-dussen-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170691/rassie-van-der-dussen.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="van-der-dussen">Van Der
                        Dussen</a>
                </div>

            </div>




            <!--All Rounder-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">ALL ROUNDER</div>

            <div class="row">

                <!--Duminy-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170693/jean-paul-duminy.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="jean-paul-duminy">Jean
                        Paul Duminy</a>
                </div>

                <!--Andile-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170694/andile-phehlukwayo.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="andile-phehlukwayo">AndilePhehlukwayo</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--dwaine-pretorius-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170695/dwaine-pretorius.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="dwaine-pretorius">Dwaine
                        Pretorius</a>
                </div>

                <!--Chris morris-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170696/chris-morris.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="chris-morris">Chris
                        Morris</a>
                </div>

            </div>





            <!--Wicket-Keeper-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">WICKET KEEPER</div>


            <div class="row mt-4">
                <!--quinton-de-kock-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170698/quinton-de-kock.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="quinton-de-kock">Quinton-De-Kock</a>
                </div>

            </div>




            <!--BOWLER-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">BOWLER</div>


            <div class="row">

                <!--Imran Tahir-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170764/imran-tahir.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="imran-tahir">Imran
                        Tahir</a>
                </div>

                <!--rabada-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170759/kagiso-rabada.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="kagiso-rabada">Kagiso
                        Rabada</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Lungi nigdi-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170761/lungi-ngidi.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="lungi-ngidi">Lungi
                        Nigdi</a>
                </div>

                <!--Tabraiz shamsi-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170774/tabraiz-shamsi.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Tabraiz Shamsi</a>
                </div>


            </div>


            <div class="row mt-4">

                <!--Beuran Hendricks-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c157349/beuran-hendricks.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="beuran-hendricks">Beuran
                        Hendricks </a>
                </div>

            </div>

        </div>
    </div>

</div>