<div class="container-fluid p-0">
    <div class="row mt-2 justify-content-center">
        <div class="col col-md-6 allbtn">
            <a class="btn btn-dark text-light mr-2" style="width: 140px;" routerLink="/home-page/schedule/">
                International
            </a>
            <a class="btn btn-dark text-light mr-2" style="width: 100px;" routerLink="/home-page/schedule/schdt20/">
                T-20
            </a>
            <a class="btn btn-dark text-light" style="width: 160px;" routerLink="/home-page/schedule/schdAllmatches/">
                All Matches
            </a>

        </div>
    </div>
    <router-outlet></router-outlet>
</div>