<div class="container-fluid">

    <div class="row justify-content-center mx-0">
        <div class="col pb-3 mt-5 p-0 ">


            <div class="row h5 h-md-3 text-dark font-weight-bold align-items-center justify-content-center mb-3"
                style="height: 60px; border: 2px solid #343a40; background: white; text-align: center;">
                AUSTRALIA INTERNATIONAL CRICKET TEAM</div>


            <!--Batsman-->
            <div class="row bg-dark pl-2 text-light align-items-center h3">BATSMAN</div>

            <div class="row">

                <!--Aaron Finch-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170630/aaron-finch.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Aaron
                        Finch</a>
                </div>

                <!--Shaun Marsh-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170626/shaun-marsh.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Shaun
                        Marsh</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Steven Smith-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170624/steven-smith.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Steven
                        Smith</a>
                </div>

                <!--David Warner-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170635/david-warner.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">David
                        Warner</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--khawaja-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170640/usman-khawaja.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Usman
                        Khawaja</a>
                </div>

            </div>





            <!--All Rounder-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">ALL ROUNDER</div>

            <div class="row">

                <!--maxwell-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170641/glenn-maxwell.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Glenn
                        Maxwell</a>
                </div>

                <!--marcus stoinis-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c176605/marcus-stoinis.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Marcus
                        Stoinis</a>
                </div>

            </div>




            <!--Wicket-Keeper-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">WICKET KEEPER</div>

            <div class="row">

                <!--Alex Carey-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170667/alex-carey.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3 font-weight-bold" style="text-decoration-line: none;">Alex
                        Carey</a>
                </div>

            </div>



            <!--BOWLER-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">BOWLER</div>


            <div class="row">

                <!--Pat Cummings-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170651/pat-cummins.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Pat
                        Cummins</a>
                </div>

                <!--Nathen-lyon-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170650/nathan-lyon.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Nathan
                        Lyon</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Mitchell-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170643/mitchell-starc.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Mitchell
                        Starc</a>
                </div>

                <!--Kane Richardson-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170638/kane-richardson.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Kane
                        Richardson</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Nathen Coulter Nile-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170648/nathan-coulter-nile.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Nathn
                        Coulter Nile</a>
                </div>

                <!--Jason Behrenorff-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170647/jason-behrendorff.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Jason
                        Behrenorff</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Adam Zampa-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170654/adam-zampa.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Adam
                        Zampa</a>
                </div>

            </div>

        </div>
    </div>

</div>