<div class="container-fluid">

    <div class="row justify-content-center mx-0">
        <div class="col pb-3 mt-5 p-0">


            <div class="row h5 h-md-3 text-dark font-weight-bold align-items-center justify-content-center mb-3"
                style="height: 60px; border: 2px solid #343a40; background: white; text-align: center;">
                WEST-INDIES INTERNATIONAL CRICKET TEAM</div>


            <!--Batsman-->
            <div class="row bg-dark pl-2 text-light align-items-center h3">BATSMAN</div>

            <div class="row">

                <!--Darren Bravo-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170790/darren-bravo.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="darren-bravo">Darren
                        Bravo</a>
                </div>

                <!--Chris Gayle-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170801/chris-gayle.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="chris-gayle">Chris
                        Gayle</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Evin Lewis-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170785/evin-lewis.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="evin-lewis">Evin
                        Lewis</a>
                </div>

                <!--Shimron Hetmyer-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c171232/shimron-hetmyer.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="Shimron-Hetmyer">Shimron
                        Hetmyer</a>
                </div>

            </div>




            <!--All Rounder-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">ALL ROUNDER</div>

            <div class="row">

                <!--fabian allen-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170794/fabian-allen.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="fabian-allen">Fabian
                        Allen</a>
                </div>

                <!--Jason Holder-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170806/jason-holder.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="jason-holder">Jason
                        Holder</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Andre Russell-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170821/andre-russell.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="andre-russell">Andre
                        Russell</a>
                </div>

                <!--carlos brathwaite-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170798/carlos-brathwaite.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Carlos
                        Brathwaite</a>
                </div>

            </div>





            <!--Wicket-Keeper-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">WICKET KEEPER</div>

            <div class="row">

                <!--sahi hope-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170814/shai-hope.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3 font-weight-bold" style="text-decoration-line: none;"
                        routerLink="shai-hope">Sahi Hope</a>
                </div>

                <!--Nicholas pooran-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170810/nicholas-pooran.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="nicholas-pooran">Nicholas
                        Pooran</a>
                </div>

            </div>




            <!--BOWLER-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">BOWLER</div>


            <div class="row">

                <!--sheldon-cottrell-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170828/sheldon-cottrell.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="sheldon-cottrell">Sheldon
                        Cottrell</a>
                </div>

                <!--shannon-gabriel-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170826/shannon-gabriel.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="shannon-gabriel">Shannon
                        Gabriel</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--kemar-roach-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170820/kemar-roach.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="kemar-roach">Kemar
                        Roach</a>
                </div>

                <!--Kuldeep Yadav-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170817/ashley-nurse.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="ashley-nurse">Ashley
                        Nurse</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--oshane-thomas-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170824/oshane-thomas.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="oshane-thomas">Oshane
                        Thomas</a>
                </div>

            </div>

        </div>
    </div>

</div>