<!--home-->
<div class="container-fluid mx-0 p-0">
    <!--Menu-->
    <div class="row justify-content-center mt-4 mx-0">
        <div class="col-12 p-0 d-flex mx-0 ">
            <div class="row m-0 p-0 box">

                <!--Left section-->
                <div class="col-12 col-md-3 bg-dark rounded" style="border: 2px solid white;">


                    <div class="row h5 pb-0 mb-1 text-light font-weight-bold pt-2 justify-content-center">LATEST NEWS
                    </div>
                    <hr style="border: inset 2px black;">


                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px;" class="text-light" href="">WBBL|06
                            moved
                            entirely to Sydney</a></div>
                    <hr style="border: solid 1px darkgray;">


                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;"
                            class="text-light">Melbourne
                            Stars
                            re-sign Mignon du Preez for WBBL06</a></div>
                    <hr style="border: solid 1px darkgrey;">


                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;" class="text-light"
                            href="">BCB call off
                            personal training after support staff show symptoms</a></div>
                    <hr style="border: solid 1px darkgrey;">


                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;" class="text-light"
                            href="">CSA takes
                            blows
                            left, right and centre</a></div>
                    <hr style="border: solid 1px darkgrey;">


                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;" class="text-light"
                            href="">Yorkshire to
                            investigate Azeem Rafiq's racism allegations</a></div>
                    <hr style="border: solid 1px darkgrey;">


                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;" class="text-light"
                            href="">Labuschagne
                            might have to wait longer for his T20I cap - Finch</a></div>
                    <hr style="border: solid 1px darkgrey;">

                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;" class="text-light"
                            href="">Australia
                            slight
                            favourites for T20I series - Morgan</a></div>
                    <hr style="border: solid 1px darkgrey;">

                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;" class="text-light"
                            href="">Shakib to
                            train
                            from September 5 as comeback edges closer</a></div>
                    <hr style="border: solid 1px darkgrey;">


                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;" class="text-light"
                            href="">Couldn't
                            risk
                            missing birth of my child - Kane Richardson explains IPL exit</a></div>
                    <hr style="border: solid 1px darkgrey;">


                    <div class="row mx-1 mt-3  justify-content-center"><a
                            style="text-decoration-line: none; font-size: 14px; text-align: center;" class="text-light"
                            href="">Wood admits
                            to
                            being frustrated after being 'dropped easily'</a></div>
                    <hr style="border: solid 1px darkgrey;">

                </div>


                <!--Middle Section-->
                <div class="col-12 col-md-5 rounded bg-dark pt-1 px-3" style="border: 2px solid white;">

                    <div class="row mt-3 mb-1 justify-content-center">
                        <small style="color: darkgray; font-weight: bold;">
                            Australia Tour of England
                        </small>
                    </div>
                    <div class="row justify-content-center">
                        <img class="rounded"
                            src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c192106/age-old-rivalry-to-kickstart-f.jpg"
                            alt="" width="300px" height="200px">
                    </div>
                    <div class="row h5 text-light font-weight-bold mt-1 mx-0" style="text-align: center;">
                        Age-old rivalry to kickstart final instalment of
                        English summer
                    </div>
                    <div class="row mx-0" style="text-align: center;">
                        <small style="color: darkgray;">
                            While Australia are the top-ranked T20I team,
                            England
                            are placed second in the rankings
                        </small>
                    </div>
                    <hr style="border: solid 1px darkgray;">


                    <div class="row mt-4 mb-1 justify-content-center"><small
                            style="color: darkgray; font-weight: bold;">IPL 2020</small></div>
                    <div class="row justify-content-center"><img class="rounded"
                            src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c192060/malinga-to-miss-ipl-2020-patt.jpg"
                            alt="" width="300px" height="200px"></div>
                    <div class="row h5 text-light font-weight-bold mt-1 mx-0" style="text-align: center;">Malinga to
                        miss IPL
                        2020; Pattinson replaces
                        him
                    </div>
                    <div class="row mx-0" style="text-align: center;"><small style="color: darkgray;">Malinga has cited
                            personal reasons for his
                            unavailability for Mumbai Indians this season</small></div>
                    <hr style="border: solid 1px darkgray;">


                    <div class="row mt-4 mb-1 justify-content-center"><small
                            style="color: darkgray; font-weight: bold;">EXCLUSIVE
                            INTERVIEW</small></div>
                    <div class="row justify-content-center"><img class="rounded"
                            src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c192080/there-is-no-issue-between-csk.jpg"
                            alt="" width="300px" height="200px"></div>
                    <div class="row h5 text-light font-weight-bold mt-1 justify-content-center mx-0"
                        style="text-align: center;">'There is no issue
                        between CSK and me'</div>
                    <div class="row mx-0" style="text-align: center;"><small style="color: darkgray;">Suresh Raina opens
                            up
                            on leaving the CSK camp, N
                            Srinivasan's comments, staying in the bio-bubble and the COVID-19 scare</small></div>
                    <hr style="border: solid 1px darkgray;">


                    <div class="row mt-4 mb-1 justify-content-center"><small
                            style="color: darkgray; font-weight: bold;">IPL 2020</small></div>
                    <div class="row justify-content-center"><img class="rounded"
                            src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c192079/wicketkeeping-the-heart-of-th.jpg"
                            alt="" width="300px" height="200px"></div>
                    <div class="row h5 text-light font-weight-bold mt-1 justify-content-center mx-0"
                        style="text-align: center;">Wicketkeeping: The
                        heart of the game</div>
                    <div class="row mx-0" style="text-align: center;"><small style="color: darkgray;">At the very origin
                            of
                            the cricket field, lies the
                            most
                            overlooked and underrated position in the sport</small></div>
                    <hr style="border: solid 1px darkgray;">


                </div>


                <!--Right Section-->
                <div class="col-12 col-md-4 rounded bg-dark m-0 p-0" style="border: 2px solid white;">

                    <div class="row h5 pb-0 px-3 mb-1 text-light font-weight-bold pt-2 justify-content-center mx-0">
                        FEATURED
                        VIDEOS</div>
                    <hr style="border: inset 2px black;">


                    <div class="row justify-content-center m-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/b4OH3vBANa4" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="row h5 text-light px-3 font-weight-bold mt-1 justify-content-center mx-0"> A Tribute to
                        MS
                        Dhoni</div>
                    <hr style="border: solid 1px darkgray;">



                    <div class="row justify-content-center m-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/87ErIU7YXyk" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="row h5 text-light px-3 font-weight-bold mt-1 justify-content-center mx-0"> Best Catches
                        By
                        Suresh Raina || Fantastic
                        Fielding By Suresh Raina</div>
                    <hr style="border: solid 1px darkgray;">


                    <div class="row justify-content-center m-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/jLThtN7BHSM" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="row h5 text-light px-3 font-weight-bold mt-1 justify-content-center mx-0"> Sachin
                        Tendulkar
                    </div>
                    <hr style="border: solid 1px darkgray;">


                    <div class="row justify-content-center m-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/EO4ziJ5R0BI" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="row h5 text-light px-3 font-weight-bold mt-1 justify-content-center mx-0"
                        style="text-align: center;"> "Bang Bang goes
                        Bumrah!" | India vs
                        Bangladesh | ICC Cricket World Cup 2019</div>
                    <hr style="border: solid 1px darkgray;">


                    <div class="row justify-content-center m-0">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/ikVHHmaFWck" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="row h5 text-light px-3 font-weight-bold mt-1 justify-content-center mx-0"
                        style="text-align: center;"> Jadeja's Superb
                        Direct Hit! | India v
                        Pakistan | Nissan Play of the Day | ICC Champions Trophy 2017</div>
                    <hr style="border: solid 1px darkgray;">
                </div>
            </div>
        </div>
    </div>
</div>