<div class="container-fluid">

    <div class="row justify-content-center">


        <div class="col-12 text-light bg-dark p-0 h3 mt-3 d-flex justify-content-center" style="font-weight:bold">T20
            LEAGUES</div>


        <!--1st Row-->
        <div class="col-12 mt-3 bg-secondary">

            <!--Date-->
            <div class="row align-items-center" style=" background: lightgrey; height: 40px;">
                <h6 class="ml-3 my-0" style="font-weight: bold;">TUE, SEP 01 2020</h6>
            </div>


            <!--Match Desc-->
            <div class="row  d-flex justify-content-between align-items-center h-auto py-3">

                <!--1 col-->
                <div class="col-4 col-md-3 py-3 d-flex justify-content-center align-items-center">
                    <h6><strong>T20 Blast</strong></h6>
                </div>

                <!--2 col-->
                <div class="col-4 col-md-5 d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">Middlesex vs Sussex, South Group <br><small>Lord's,
                            London</small></p>
                </div>

                <!--3 col-->
                <div class="col-4 col-md-4  d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">10:45 PM <br><small>05:15 PM GMT / 06:15 PM LOCAL</small>
                    </p>
                </div>



                <!--1 col-->
                <div class="col-4 col-md-4 py-5 d-flex justify-content-center align-items-center">
                    <h6><strong></strong></h6>
                </div>

                <!--2 col-->
                <div class="col-4 col-md-4 d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">Northamptonshire vs Warwickshire, Central Group
                        <br><small>County Ground, Northampton</small></p>
                </div>

                <!--3 col-->
                <div class="col-4 col-md-4 d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">11:00 PM <br><small>05:15 PM GMT / 06:15 PM LOCAL</small>
                    </p>
                </div>



                <!--1 col-->
                <div class="col-4 col-md-3 mr-4  d-flex justify-content-center align-items-center">
                    <h6><strong></strong></h6>
                </div>

                <!--2 col-->
                <div class="col-4 col-md-4 d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">Somerset vs Glamorgan, Central Group<br><small>The Cooper
                            Associates County Ground, Taunton</small></p>
                </div>

                <!--3 col-->
                <div class="col-4 col-md-4 pb-3 d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">11:15 PM <br><small>05:30 PM GMT / 06:30 PM LOCAL</small>
                    </p>
                </div>


            </div>


        </div>




        <!--2nd Row-->
        <div class="col-12 bg-secondary">

            <!--Date-->
            <div class="row align-items-center" style=" background: lightgrey; height: 40px;">
                <h6 class="ml-3 my-0" style="font-weight: bold;">TUE, SEP 01 2020</h6>
            </div>


            <!--Match Desc-->
            <div class="row  d-flex justify-content-between align-items-center h-auto py-3">

                <!--1 col-->
                <div class="col-4 col-md-3 py-3 d-flex justify-content-center align-items-center">
                    <h6><strong>T20 Blast</strong></h6>
                </div>

                <!--2 col-->
                <div class="col-4 col-md-5 d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">Edgbaston, Birmingham<br><small>Edgbaston,
                            Birmingham</small></p>
                </div>

                <!--3 col-->
                <div class="col-4 col-md-4  d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">10:45 PM <br><small>05:15 PM GMT / 06:15 PM LOCAL</small>
                    </p>
                </div>


            </div>


        </div>





        <!--3rd Row-->
        <div class="col-12 bg-secondary">

            <!--Date-->
            <div class="row align-items-center" style=" background: lightgrey; height: 40px;">
                <h6 class="ml-3 my-0" style="font-weight: bold;">FRI, SEP 04 2020</h6>
            </div>


            <!--Match Desc-->
            <div class="row  d-flex justify-content-between align-items-center h-auto py-3">

                <!--1 col-->
                <div class="col-4 col-md-3 py-3 d-flex justify-content-center align-items-center">
                    <h6><strong>T20 Blast</strong></h6>
                </div>

                <!--2 col-->
                <div class="col-4 col-md-5 d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">Nottinghamshire vs Leicestershire, North Group
                        <br><small> Trent Bridge, Nottingham</small></p>
                </div>

                <!--3 col-->
                <div class="col-4 col-md-4  d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">10:45 PM <br><small>05:15 PM GMT / 06:15 PM LOCAL</small>
                    </p>
                </div>



                <!--1 col-->
                <div class="col-4 col-md-3 py-3 d-flex justify-content-center align-items-center">
                    <h6><strong></strong></h6>
                </div>

                <!--2 col-->
                <div class="col-4 col-md-4 d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">
                        Somerset vs Warwickshire, Central Group
                        <br>
                        <small>
                            The Cooper Associates County Ground, Taunton
                        </small>
                    </p>
                </div>

                <!--3 col-->
                <div class="col-4 col-md-4  d-flex justify-content-center align-items-center">
                    <p style="font-size: 15px; margin: 0%;">
                        10:45 PM
                        <br>
                        <small>
                            05:15 PM GMT / 06:15 PM LOCAL
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>