<div class="container-fluid p-0">
    <div class="row mt-2 justify-content-center">
        <div class="col col-md-6 allbtn">
            <a class="btn btn-dark text-light mr-2" style="width: 100px;" routerLink="/home-page/ranking/">
                Batting
            </a>
            <a class="btn btn-dark text-light mr-2" style="width: 100px;" routerLink="/home-page/ranking/bowling/">
                Bowling
            </a>
            <a class="btn btn-dark text-light" style="width: 100px;" routerLink="/home-page/ranking/team/">
                Teams
            </a>

        </div>
    </div>
    <router-outlet></router-outlet>
</div>