<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 80vh;">

        <div class="col-12 col-md-6">
            <div class="row justify-content-center align-items-center" style="height: 40vh;">
                <h1>Oops!</h1>
            </div>
            <div class="row justify-content-center align-items-center mb-3">
                <h5>404 - PAGE NOT FOUND</h5>
            </div>
            <div class="row justify-content-center align-items-center">
                <p>The page You looking for might have been removed<br>had its name changed or is temporarily
                    unavailable</p>
            </div>
            <div class="row justify-content-center align-items-center mb-3"><button class="btn bg-primary text-light"
                    type="button" onclick="">GO TO HOMEPAGE</button></div>
        </div>

    </div>
</div>