<div class="container-fluid">
    <div class="row mt-5 justify-content-center">
        <div class="col ">


            <div class="row  mb-3 p-0" style="height: 60px;">
                <div class="col-12 col-md-12 h2 p-0 text-dark font-weight-bold d-flex align-items-center justify-content-center"
                    style="border: 2px solid #343a40; background: white;">
                    CRICKET TEAMS</div>
            </div>


            <!--Row 1-->
            <div class="row justify-content-between p-3">

                <!--India-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172115/india.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-2 ml-2" style="text-decoration-line: none;"
                        routerLink="india">India</a>
                </div>


                <!--Australia-->
                <div class="col-12 col-md-6 pl-2 d-flex mt-2 mt-md-0  align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172117/australia.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-2 ml-2" style="text-decoration-line: none;"
                        routerLink="australia">Australia</a>
                </div>
            </div>

            <!--Row 2-->
            <div class="row justify-content-between p-3">

                <!--South Africa-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172126/south-africa.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-2 ml-2" style="text-decoration-line: none;"
                        routerLink="southafrica">
                        SouthAfrica
                    </a>
                </div>
                <!--west-indies-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center mt-2 mt-md-0 pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172124/west-indies.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-2 ml-2" style="text-decoration-line: none;"
                        routerLink="westindies">West-indies</a>
                </div>
            </div>

            <!--Row 3-->
            <div class="row justify-content-between p-3">

                <!--Pakistan-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172116/pakistan.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Pakistan</a>
                </div>


                <!--Ireland-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center mt-2 mt-md-0 pt-3 pt-md-0">
                    <img src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172141/ireland.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Ireland</a>
                </div>


            </div>

            <!--Row 4-->
            <div class="row justify-content-between p-3">

                <!--Bangladesh-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172120/bangladesh.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Bangladesh</a>
                </div>


                <!--England-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center mt-2 mt-md-0 pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172123/england.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">England</a>
                </div>
            </div>

            <!--Row 5-->
            <div class="row justify-content-between p-3">

                <!--New Zealand-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172128/new-zealand.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">New
                        Zealand</a>
                </div>


                <!--Afganistan-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center mt-2 mt-md-0 pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172188/afghanistan.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Afganistan</a>
                </div>


            </div>


            <!--Row 6-->
            <div class="row justify-content-between p-3">

                <!--Belgium-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172592/belgium.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Belgium</a>
                </div>


                <!--Italy-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center mt-2 mt-md-0 pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172577/italy.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Italy</a>
                </div>
            </div>

            <!--Row 7-->
            <div class="row justify-content-between p-3">

                <!--Zimbambe-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172127/zimbabwe.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Zimbabwe</a>
                </div>


                <!--Denmark-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center mt-2 mt-md-0 pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172245/denmark.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Denmark</a>
                </div>
            </div>


            <!--Row 8-->
            <div class="row justify-content-between p-3">


                <!--SriLanka-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172119/sri-lanka.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">SriLanka</a>
                </div>


                <!--Namibia-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center mt-2 mt-md-0 pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/72x54/i1/c172229/namibia.jpg" alt="">
                    <a class="text-dark pl-2 ml-2 disabled" style="text-decoration-line: none;" tabindex="-1"
                        aria-disabled="true">Namibia</a>
                </div>
            </div>

        </div>
    </div>
</div>