<div class="container-fluid">

    <div class="row justify-content-center mx-0">
        <div class="col pb-3 mt-5 p-0">


            <div class="row h5 h-md-3 text-dark font-weight-bold align-items-center justify-content-center mb-3"
                style="height: 60px; border: 2px solid #343a40; background: white; text-align: center;">
                INDIAN INTERNATIONAL CRICKET TEAM</div>


            <!--Batsman-->
            <div class="row bg-dark pl-2 text-light align-items-center h3">BATSMAN</div>

            <div class="row">

                <!--Virat Kohli-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170661/virat-kohli.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Virat Kohli</a>
                </div>

                <!--Rohit Sharma-->
                <div class="col-12 col-md-6 pl-2 pt-3 pt-md-0 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170658/rohit-sharma.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Rohit Sharma</a>
                </div>

            </div>


            <div class="row mt-4">
                <!--Shikhar Dhawan-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170660/shikhar-dhawan.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;">Shikhar Dhawan</a>
                </div>

            </div>




            <!--All Rounder-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">ALL ROUNDER</div>

            <div class="row">

                <!--Vijay Shankar-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170664/vijay-shankar.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Vijay Shankar</a>
                </div>

                <!--Hardik Pandya-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170666/hardik-pandya.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Hardik Pandya</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Kedar Jadhav-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170669/kedar-jadhav.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Kedar Jadhav</a>
                </div>

                <!--Ravindra Jadeja-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170670/ravindra-jadeja.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Ravindra
                        Jadeja</a>
                </div>

            </div>





            <!--Wicket-Keeper-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">WICKET KEEPER</div>

            <div class="row">

                <!--Mahendra Singh Dhoni-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170677/ms-dhoni.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3 font-weight-bold" style="text-decoration-line: none;"
                        routerLink="india">Mahendra Singh Dhoni</a>
                </div>

                <!--Dinesh Karthik-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170680/dinesh-karthik.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Dinesh Karthik</a>
                </div>

            </div>


            <div class="row mt-4">
                <!--Lokesh Rahul-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170673/lokesh-rahul.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Lokesh Rahul</a>
                </div>

            </div>




            <!--BOWLER-->
            <div class="row pl-2 bg-dark text-light align-items-center h3 mt-3">BOWLER</div>


            <div class="row">

                <!--Bhuvi-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170689/bhuvneshwar-kumar.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Bhuvneshwar
                        Kumar</a>
                </div>

                <!--Shami-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170684/mohammed-shami.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Mohammad Shami</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Bumrah-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170685/jasprit-bumrah.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Jaspreet
                        Bumrah</a>
                </div>

                <!--Kuldeep Yadav-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center pt-3 pt-md-0"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170683/kuldeep-yadav.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Kuldeep Yadav</a>
                </div>

            </div>


            <div class="row mt-4">

                <!--Chahal-->
                <div class="col-12 col-md-6 pl-2 d-flex align-items-center"><img
                        src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c170690/yuzvendra-chahal.jpg" alt="">
                    <a class="text-dark font-weight-bold pl-3" style="text-decoration-line: none;"
                        routerLink="india">Yuzvendra
                        Chahal</a>
                </div>

            </div>

        </div>
    </div>

</div>